html{
    background: #cae5e6;
}
.main-calc {
    background: #3a4655;
    box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.55);

    height: 435px;
    width:300px;
    padding-left:5px;
    margin-left: 40%;
    margin-right: 100px;
    margin-top: 125px;
    border-radius: 8px;
    font-family: "HelveticaNeue-Light", Arial, sans-serif; 
}

#output{
    color: white; 
    font-size: 40px;

    height: 55px;

    font-weight: lighter;
    text-align: right;
    padding: 30px 30px 10px 10px;
    margin-top: 10px;
}

.main-calc button{
    border: none;
    background: none;
    background: #374352;
    border: #3a4655;

    height:65px;
    width: 70px;
    margin-top:2px;

    color: white;
    font-size: 20px;
    font-weight: lighter;

    outline: none;
}
.main-calc button:hover{
    background: #485461;
}
.main-calc #clear-calc{
    color: #f76654;
}

.main-calc .calc-symbol{
    color: #6f7a86;
}